.detailed-report-title{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}

.report-details-box{
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

.detailed-report-btn{
    background-color: #e5e5e5;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    gap: 9px;
    display: flex;

}

.detailed-report-head{
    font-family: inter;
    font-weight: bold;
}


