.container {
      overflow-x: hidden;
  max-width: 1200px;     
  margin: 0 auto;        
  padding: 0 20px;   
}
.task-summary-titlebox{
    background-color: #FAF4FC;
  width: 100%;
  height: 50px;
  display: flex;
  gap:10px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.tasksummary-title{
      font-family: "Inter", sans-serif;
}

table{
    width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  margin-top: 20px;

    
}
th{
    column-span: 2;
}