.project-title{
  width: 100%;
  height: 55px;
  margin-top: 35px;
  background-color: #faf4fc;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
font-family:inter;
font-weight:500px;
font-style:medium;
font-size: 20px;
}
.new-project-btn{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  background: #4c4c4c;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #EEA9FF;
  height: 34px;
  
}
.project-filter-sort-div{
display: flex;
gap:20px;
margin-left:50px;
margin-top:35px;
}
.proj-sort-filt-btn{
    gap:5px;
    display: flex;
    padding:6px 13px;
    border:none;
    border-radius: 9px;
}
.filt-sort{
    font-family: inter;
    font-weight: 400px;
    font-size:13px;
    color: #6D6B6B;
}
.project-detail-status{
  display:flex;
  justify-content: space-between;
  margin: 30px 50px;
}
.project-Name{
  font-style: inter;
  font-weight: 400px;
  font-size: 15px;
}
.project-Name span{
    font-style: inter;
  font-weight: 400px;
  font-size: 12px;

}
.project-Status{
  background-color: #E3BCF1;
  width:95px;
  height:37px;
  display:flex;
  text-align: center;
  align-items: center;

}