
.project-title{
  width: 100%;
  height: 55px;
  margin-top: 35px;
  background-color: #faf4fc;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
font-family:inter;
font-weight:500px;
font-style:medium;
font-size: 20px;
}
.new-project-btn{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  background: #4c4c4c;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #EEA9FF;
  height: 34px;
  
}
.project-filter-sort-div{
display: flex;
gap:20px;
margin-left:50px;
margin-top:35px;
}
.proj-sort-filt-btn{
    gap:5px;
    display: flex;
    padding:6px 13px;
    border:none;
    border-radius: 9px;
}
.filt-sort{
    font-family: inter;
    font-weight: 400px;
    font-size:13px;
    color: #6D6B6B;
}
.project-detail-status{
  display:flex;
  justify-content: space-between;
  margin: 40px 60px;
  align-items: center;
}
.project-Name{
  font-style: inter;
  font-weight: 400px;
  font-size: 15px;
}
.project-Name span{
    font-style: inter;
  font-weight: 400px;
  font-size: 12px;

}
.project-Status{
  background-color: #E3BCF1;
  width:95px;
  height:37px;
  display:flex;
  text-align: center;
  align-items: center;
  border-radius:18px;
  padding:0px 10px;
  color: white;

}
.project-day-left{
  display: flex;
  gap: 8px ;
  align-items: center;
}
.clock-icon{
  height: 15px;
  width: 15px;
}
.left{
  font-family:inter;
font-weight:400px;
font-size: 14px;

}
.progress-bar-per{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.progress-container{
   width: 375px;
  height: 12px;
  background: #f3e8ff;   /* light purple shade like Figma */
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar{
    height: 100%;
  background: #9b5cff;   /* main purple color */
  border-radius: 10px;
  transition: width 0.4s ease;
}
.progress-value{
   font-size: 12px;
  color: #6b5c7a;
}

.three-dot-wrapper {
  position: relative;
  display: inline-block;
}


.three-dot img {
  cursor: pointer;
  /* width: 30px; */
}


.menu-popup {
  position: absolute;
  top: 25px;         /* distance below the dot */
  right: 0;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.12);
  padding: 8px 12px;
  z-index: 100;
}

.menu-popup p {
  margin: 0;
  padding: 6px 4px;
  font-size: 13px;
  cursor: pointer;
  color: #5a5a5a;
}

.menu-popup p:hover {
  background: #f5f5f5;
  border-radius: 4px;
}
.menu-popup a{
  text-decoration: none;
}
.ststus-space{}