.notification-title{
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
    height: 55px;
    margin-top: 35px;
    background-color: #faf4fc;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    font-family:inter;
    font-weight:500px;
    font-style:medium;
    font-size: 20px;
}
.all-mark{
    display: flex;
    gap: 15px;
    margin-right: 20px;
}
.all{
    background-color: #6E67FF;
    width:51px;
    height:31px;
    padding: 9px 9px;
    border-radius: 5px;
     font-family:inter;
    font-weight:400px;
    font-style:medium;
    font-size: 13px;

}
.mark{
      background-color: #6E67FF;
    width:144px;
    height:31px;
    padding: 9px 9px;
    border-radius: 5px;
    font-family:inter;
    font-weight:400px;
    font-style:medium;
    font-size: 13px;

}
.notification-table{
    width: 984px;
    height: 70px;
    background-color: #F9E6FF;
    display: flex;
    justify-content: space-between;
    margin:40px 90px;
}
.firstlet-notif{
    display: flex;
}
.first-letter{
    border-radius: 28px;
    background-color: #EFBBFF;
    width: 45px;
    height:45px;
    padding:13px 18px;
    gap:10px;
    margin-left: 10px;
    margin-top: 14px;
}
.notif{
    font-family:inter;
    font-weight:400px;
    font-style:medium;
    font-size: 17px;
    margin-top:25px;
    margin-left: 14px;
}
.notification-time{
     font-family:inter;
    font-weight:400px;
    font-size: 17px;
    margin-top:25px;
    margin-right: 14px;

}