.settings-title{
    width: 100%;
  height: 55px;
  margin-top: 35px;
  background-color: #faf4fc;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
    font-family:inter;
    font-weight:500px;
    font-style:medium;
    font-size: 20px;
}
.account-btn{
    background-color: #B57CC8;
    border-radius: 2px;       
  color: #ffffff;             
  border: none;               
  padding: 10px 28px;         
  border-radius: 30px;        
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 30px;
}
.profile{
    font-family:inter;
    font-weight:500px;
    font-style:medium;
    font-size: 20px;
    margin-top: 50px;
  margin-left: 30px;
}
.set-details{
     font-family:inter;
    font-weight:500px;
    font-style:medium;
    font-size: 12px;
  margin-left: 30px;

}
.settings-form{
    margin-left: 80px;
    margin-top: 50px;
    
}
.form{
    display: flex;
    justify-content: space-between;
}
.settings-input{
    border-radius: 2px;
    background-color:white;
    width: 363px;
    height: 50px;
    border: 1px solid #ded7e2;
    margin-bottom: 4px;
    
}
::placeholder{
     font-family:inter;
    font-weight:400px;
    font-size: 12px;
  padding-left: 20px;

}
.profile-pic{
    margin-top: 53px;
}
.pic-add-delete{
    display: flex;
    gap: 20px;
    margin-left:33px;
    margin-top:10px;
}
.edit-btn{
    height: 28px;
    width:20px;
    cursor: pointer;
}

.settings-save{
background-color: #B57CC8;      
  color: #ffffff;             
  border: none;               
  padding: 10px 28px;               
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 250px;
  width: 100px;
   margin-left: auto;   
  display: block;  
  
}
